/* Reset styles and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: .4s all ease-in-out;
    user-select: none;
    overflow-x: hidden;
}

/* Root variables */
:root {
    --violet: #7234fa;
    --bg: #dddBce;
    --dark: #222222;
    --neutral: #334464;
    --base: #312f36;
}

/* Media queries */
@media only screen and (max-width: 1024px) {
    /* Adjustments for smaller screens */
    #container nav {
        display: flex;
        flex-direction: column;
        height: 22vh;
        align-items: center;
        justify-content: center;
    }
    #container nav a {
        width: 100%;
        text-align: center;
    }
    #container nav .search {
        transform: none;
        display: flex;
        height: max-content;
        width: max-content;
    }
    #container section {
        grid-template-columns: auto auto;
        text-align: center; /* Align content center for smaller screens */
    }
}

@media only screen and (max-width: 600px) {
    /* Adjustments for even smaller screens */
    * {
        text-align: center; /* Align all text center */
    }
    #container nav {
        display: flex;
        flex-direction: column;
        height: 22vh;
        align-items: center;
        justify-content: center;
    }
    #container nav a {
        width: 100%;
        text-align: center;
    }
    #container nav .search {
        transform: none;
        display: flex;
        height: max-content;
        width: max-content;
    }
    #container section {
        text-align: center; /* Align content center for smallest screens */
        display: grid;
        grid-template-columns: 100%; /* Display articles in a single column */
    }
}

/* Main container styles */
#container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Navigation styles */
nav {
    width: 100%;
    display: flex;
    height: 15vh;
    background: var(--base);
}
nav a {
    font-size: 2em;
    color: #468284;
    text-decoration: none;
    background: #C5C6C7;
    padding: 25px;
    font-weight: 600;
}
nav .search {
    padding: 25px;
    width: 40%;
    transform: translate(120%);
}

/* Search input and button styles */
.search input,
.search button {
    padding: 8px;
    font-size: .9em;
    border: none;
    outline: none;
}
.search button {
    background: var(--violet);
    border-radius: 5px;
    color: white;
}
.search input {
    border-radius: 5px;
}

/* Dropdown styles */
.dropdown {
    width: 100%;
    padding: 0 20px;
    height: 8vh;
    display: flex;
    align-items: center;
}

/* Section styles */
section {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 325px 325px 325px; /* Display articles in 3 columns */
    gap: 10px;
}

/* Article heading styles */
section h3 {
    color: var(--dark);
    margin: 10px 0;
}

/* Article image styles */
section img {
    height: 300px;
    width: 300px;
}

/* Article content styles */
section p {
    color: var(--neutral);
}

/* Article link styles */
section a {
    color: var(--violet);
    text-decoration: none;
    font-weight: 600;
    margin: 10px 0;
}

/* Hover effect on article container */
section div:hover {
    box-shadow: 0 0 15px gray;
}

/* Article container styles */
section div {
    padding: 15px;
    border-radius: 5px;
    background: var(--bg);
}
